menu "ThingsBoard MQTT Client library (TBMQTTClient)"

    config ESP_TBMQTTCLIENT_TASK_STACK_SIZE
        int "ThingsBoard MQTT Client (TBMQTTClient) task stack size"
        range 512 65536 if !APPTRACE_ENABLE
        range 2048 65536 if APPTRACE_ENABLE
        default 2048 if APPTRACE_ENABLE
        default 1536
        help
            Configure the IPC tasks stack size. An IPC task runs on each core (in dual core mode), and allows for
            cross-core function calls. See IPC documentation for more details. The default IPC stack size should be
            enough for most common simple use cases. However, users can increase/decrease the stack size to their
            needs.

    config ESP_TBMQTTCLIENT_USES_CALLERS_PRIORITY
        bool "TBMQTTClient runs at caller's priority"
        default y
        depends on !FREERTOS_UNICORE
        help
            If this option is not enabled then the IPC task will keep behavior same as prior to that of ESP-IDF v4.0,
            hence IPC task will run at (configMAX_PRIORITIES - 1) priority.

endmenu # "ThingsBoard MQTT Client library (TBMQTTClient)
