menu "Example ThingsBoard MQTT Configuration"

    menu "Transport server address"
        config TBC_TRANSPORT_ADDRESS_HOST
            string "Hostname, to set ipv4 pass it as string"
            default ""
            help
                Hostname to connect to server/broker

        config TBC_TRANSPORT_ADDRESS_PORT
            int "Port"
            default 8883 
            help
                MQTT over TCP:1883. MQTT over SSL: 8883. MQTT over WebSocket:80. MQTT over WebSocket Secure:443.
    endmenu

    menu "Provisioning config"
        config TBC_PROVISION_DEVICE_NAME
            string "Device name (Optional)"
            default ""
            help
                e.g., ESP32 chip ID

        config TBC_PROVISION_DEVICE_KEY
            string "Device key"
            default ""
            help
                ThingsBoard --> Device profiles --> Click a row --> Device provisiong --> Provison device key.

        config TBC_PROVISION_DEVICE_SECRET
            string "Device secret"
            default ""
            help
                ThingsBoard --> Device profiles --> Click a row --> Device provisiong --> Provison device secret.

    endmenu
 
    menu "Transport verification / Server certificate"
        config TBC_TRANSPORT_SKIP_CERT_COMMON_NAME_CHECK
            prompt "Skip any validation of server certificate CN field"
            bool
        default true
            help 
                Skip any validation of server certificate CN field, this reduces the 
                security of TLS and makes the mqtt client susceptible to MITM attacks
    endmenu

endmenu
